<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        script(src="scripts/script.js")
    </head>
    <body>
        <nav class="navbar navbar-light bg-light d-flex justify-content-between">
            <a class="navbar-brand d-flex" href="/">
                <img src="../img/logo.png" width="30" height="30" class="align-top" alt="">
                <h4 class="ml-3">#{name}</h4>
            </a>
            if isLogged
                h4(class="mr-3 text-success") Bot is Logged
            else
                h4(class="mr-3 text-danger") Bot is not Logged
        </nav>

        <section class="col-sm">
            each val in queue
                iframe(width="33%" height="360px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=val)

        </section>
    </body>
</html>